<nav>
	<ul>
		<li><a href="~/Panel/Anasayfa" title="Anasayfa"><i class="fa fa-lg fa-fw fa-home"></i>Anasayfa</a></li>
		<li><a href="~/Proje/Liste" title="Projeler"><i class="fa fa-lg fa-fw fa-cubes"></i>Projeler</a></li>
		<li><a href="~/Ogrenci/Liste" title="Öğrenciler"><i class="fa fa-lg fa-fw fa-users"></i>Öğrenciler</a></li>
		<li><a href="~/Akademisyen/Liste" title="Akademisyenler"><i class="fa fa-lg fa-fw fa-graduation-cap"></i>Akademisyenler</a></li>
	</ul>
</nav>