<nav>
	<ul>
		<li><a href="~/Panel/Anasayfa" title="Anasayfa"><i class="fa fa-lg fa-fw fa-home"></i>Anasayfa</a></li>
		<li><a href="~/Ogrenci/Proje" title="Proje"><i class="fa fa-lg fa-fw fa-cubes"></i>Proje</a></li>
		<li><a href="~/Ogrenci/DanismanlikDegisiklikTalebi" title="Danışmanlık Değişiklik Talebi"><i class="fa fa-lg fa-fw fa-user"></i>Danışmanlık Değişiklik Talebi</a></li>
	</ul>
</nav>