@{
	ViewBag.Title = "Anasayfa";

	var duyurular = ViewData["Duyurular"] as List<SUTFProjeYonetimi.Models.Duyuru>;
}

<div id="ribbon">
	<ol class="breadcrumb">
		<li>Panel</li>
		<li>Anasayfa</li>
	</ol>
</div>
<div id="content">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Panel <span>> Anasayfa</span></h1>
		</div>
	</div>
	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-md-12">
				<div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-0" data-widget-editbutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>Duyurular</h2>
					</header>
					<div>
						<table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
							<thead>
								<tr>
									<th> Tarih</th>
									<th> Başlık</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var items in duyurular)
								{
									<tr>
										<td>@items.Tarih.ToString("dd.MM.yyyy")</td>
										<td><a href="~/Panel/DuyuruDetay/@items.ID">@items.Baslik</a></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</article>
		</div>
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12">
				<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false" data-widget-fullscreenbutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-comments txt-color-white"></i> </span>
						<h2> Yazışmalar </h2>
					</header>
					<div>
						<div class="widget-body widget-hide-overflow no-padding">
							<div id="chat-body" class="chat-body custom-scroll">
								<ul>
									<li class="message">
										<img src="~/Assets/img/avatars/5.png" class="online" alt="">
										<div class="message-text">
											<time>
												2014-01-13
											</time> <a href="javascript:void(0);" class="username">Sadi Orlaf</a> Hey did you meet the new board of director? He's a bit of an geek if you ask me...anyway here is the report you requested. I am off to launch with Lisa and Andrew, you wanna join?
										</div>
									</li>
									<li class="message">
										<img src="~/Assets/img/avatars/sunny.png" class="online" alt="">
										<div class="message-text">
											<time>
												2014-01-13
											</time> <a href="javascript:void(0);" class="username">John Doe</a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i>
										</div>
									</li>
								</ul>
							</div>
							<div class="chat-footer">
								<div class="textarea-div">
									<div class="typearea">
										<textarea placeholder="Buraya metin giriniz..." id="textarea-expand" class="custom-scroll"></textarea>
									</div>
								</div>
								<span class="textarea-controls">
									<button class="btn btn-sm btn-primary pull-right">
										GÖNDER
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>
</div>